.section-wrapper {
  padding: 1rem;
  border: 1px solid #b9bee5;
  border-radius: 12px;
  margin-top: 12px;
}

.row {
  display: flex;
  align-items: baseline;
  max-width: 50rem;
  width: 100%;
  justify-content: space-between;

  padding-bottom: 2rem;
  border-bottom: 1px solid #c4c4c4;
  padding-top: 1rem;
}

.row-wrapper {
  display: flex;
  flex-direction: column;
  width: 70%;
}

.details {
  display: flex;
  justify-content: space-between;
}

.details ul {
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 12px;
  padding: 0;
  text-transform: capitalize;
  gap: 4px;
  font-size: 14px;
}

.mo__fee {
  /* width: 14%; */
  background: transparent;
  border: none;
  color: #000;
  font-weight: 500;
  font-size: 1rem;
}

.batch__mo__fee {
  background: transparent;
  border: none;
  color: #000;
  font-size: 24px;
  font-weight: 800;
}

.std__config {
  display: flex;
  margin-top: 24px;
}

.std__config input {
  height: unset;
}

.col2-inner-wrapper {

  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease;
}

.checked {
  max-height: 400px;

}

.col2-content {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2rem;
}

.student-cart {
  display: flex;
  flex-direction: column;
  width: 40%;
  border: 1px solid rgb(184, 184, 184);
  padding: 1rem;
}

.btn-add {
  color: var(--blue);
  margin-top: .5rem;
  font-weight: 700;
}
